In [1]:
# ans 2

l = [1,2,3,4,5,6,7,8,9,10]

def sq(x):
    return x ** 2
list(map(sq , l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:
# Ans 5

l = [2,3,6,9,27,60,90,120,55,46]

a = list(filter(lambda x : (x % 2 == 0) , l ))


b = list(filter(lambda x : (x % 3 == 0) , l ))

In [10]:
print(a , b)

[2, 6, 60, 90, 120, 46] [3, 6, 9, 27, 60, 90, 120]

In [22]:
# Ans 6

l = ['python' , 'php' , 'aha' , 'radar' , 'level']

a = list(filter(lambda x : (x == "".join(reversed(x))) , l ))

print(a)

['php', 'aha', 'radar', 'level']

In [37]:
# Ans 3
Givenstring = ['1' ,'2', '3', '4', '5', '6', '7', '8', '9', '10']


Output = tuple(map(lambda x: x, Givenstring))

print(Output)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [44]:
#ans 1

A =[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
A.sort(key = lambda x: x[1])
print(A)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]